{% extends 'html/base.html%}
{% load static %}
{% load staticfiles %}

{% block content %}
        
<main>
<div class="space_under_construction">
      
    This page is under construction<br><p><i class="fa fa-cogs" style="font-size: 50px; color:green"></i></p><br>
    Tike Ltd &amp; Comedy Knights are working hard<br>to build for you a customized space<br>where you can follow their events.<br>
    <br>
    <button class="btn btn-danger my-2 my-sm-0" type="submit">Back Home</button> 
    </div>
</main>

<div class="footer_event_page">
    <!-- WHen Basketball and COmedy Knights will have confirmed their partnership we will redesign this page. --> 
    <div class="container">
        <br>
        <p>Copyright © 2018 Tike Ltd. All Rights Reserved.</p>
    </div>

</div>
{% endblock %}